<div class="alert alert-success" role="alert">
  List Of <b>Customers</b>!
 </div>
 <div class="container">

  <form [formGroup]="customerFormGroup"  (ngSubmit)="saveCustomer()">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Customer Name" formControlName="name">
    </div><br>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Customer Email" formControlName="email">
    </div>
    <br>
    
   
    <button type="submit" class="btn btn-success">Add new customer</button>
  </form>
  <br>

   <table class="table" *ngIf="customers">
     <thead>
       <tr class=" text-white">
         <th>ID</th>
         <th>Name</th>
         <th>Email</th>
         <th>Action</th>
         <th>Delete</th>
       </tr>
     </thead>
     <tbody>
       <tr class=" text-white" *ngFor="let c of customers._embedded.customers">
         <td>{{c.id}}</td>
         <td>{{c.name}}</td>
         <td>{{c.email}}</td>
         <td>
          <button class="btn btn-warning" (click)="getBills(c)">Bills</button>
         </td>
         <td>
          <button  class="btn btn-outline-danger" (click)="deleteCustomer(c.id)"><img src="https://img.icons8.com/fluency/512/delete-forever.png" width="20px" alt=""> <b> Delete</b></button>
         </td>
       </tr>
     </tbody>
   </table>
 </div>
